Repository johnvees/FinalProject-SecondHand, pull requests merged in 2022-07, with the labels that each got.

#41 Feature/home
  .github/workflows/CI-proccess.yml
  android/app/build.gradle
  android/app/src/main/java/com/secondhand/MainApplication.java
  android/settings.gradle
  package.json
  src/components/Button/index.js
  src/components/CardProduct/index.js
  src/components/NumberFormat/index.js
  src/components/TextInput/index.js
  src/screens/Home/index.js
  yarn.lock
Labels: enhancement, good first issue, components

#42 Done Slicing UI with Props
  src/assets/images/fi_camera.png
  src/assets/images/fi_edit.png
  src/assets/images/fi_log-out.png
  src/assets/images/fi_settings.png
  src/components/CardLink/index.js
  src/screens/Akun/index.js
Labels: components, screen

#47 Feature/jual
  android/app/src/main/AndroidManifest.xml
  package.json
  src/components/TextInput/index.js
  src/screens/Jual/dropbar.js
  src/screens/Jual/index.js
  yarn.lock
Labels: enhancement, screen

#48 merge branch development to master
  .github/workflows/CI-proccess.yml
  .gitignore
  App.js
  android/app/build.gradle
  android/app/secondhand.keystore
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/secondhand/MainApplication.java
  android/settings.gradle
  babel.config.js
  package.json
  src/assets/images/fi_camera.png
  src/assets/images/fi_edit.png
  src/assets/images/fi_log-out.png
  src/assets/images/fi_settings.png
  src/assets/images/userDefault.png
  src/components/Button/index.js
  src/components/CardLink/index.js
  src/components/CardProduct/index.js
  src/components/NumberFormat/index.js
  src/components/TextInput/index.js
  src/components/index.js
  src/screens/Akun/index.js
  src/screens/DetailProduct/index.js
  src/screens/Home/index.js
  src/screens/Jual/dropbar.js
  src/screens/Jual/index.js
  src/screens/UbahAkun/index.js
  src/screens/index.js
  src/utils/helpers/index.js
  yarn.lock
Labels: enhancement

#50 Feature/notification
  src/components/Button/index.js
  src/components/CardNotification/index.js
  src/routes/BottomTab.js
  src/screens/Notifikasi/index.js
Labels: enhancement, screen

#53 Feature/ubah akun
  App.js
  src/components/Loading/index.js
  src/components/index.js
  src/redux/allReducer.js
  src/redux/globalAction.js
  src/redux/globalReducer.js
  src/redux/reducer.js
  src/redux/store.js
  src/screens/Akun/index.js
  src/screens/Home/index.js
  src/screens/Login/index.js
  src/screens/Login/redux/action.js
  src/screens/Login/redux/reducer.js
  src/screens/Register/redux/action.js
  src/screens/Register/redux/reducer.js
  src/screens/UbahAkun/index.js
  src/utils/colors/index.js
  src/utils/helpers/navigate.js
Labels: components, screen

#55 Feature/buyer/detail product
  App.js
  src/components/Button/index.js
  src/components/CardNotification/index.js
  src/components/TextInput/index.js
  src/components/bottom-sheet/index.js
  src/redux/allReducer.js
  src/routes/BottomTab.js
  src/screens/DetailProduct/index.js
  src/screens/Home/index.js
  src/screens/Jual/dropbar.js
  src/screens/Jual/index.js
  src/screens/Notifikasi/index.js
  src/screens/Notifikasi/redux/action.js
  src/screens/Notifikasi/redux/reducer.js
  src/screens/TerimaTolak/index.js
  src/screens/index.js
Labels: enhancement, components, screen

#56 fix dropdown ke multi select
  src/screens/Jual/dropbar.js
  src/screens/Jual/index.js
Labels: components, screen

#49 Akun
  package.json
  src/components/Header/index.js
  src/screens/Akun/index.js
  src/screens/UbahAkun/index.js
Labels: enhancement, components, screen

#60 sekaligus: add feature
  src/screens/Jual/dropbar.js
  src/screens/Jual/index.js
Labels: good first issue, configs

#58 Feature/daftar jual
  index.js
  src/components/index.js
  src/routes/BottomTab.js
  src/screens/DaftarJual/index.js
  yarn.lock
Labels: bug, screen

#61 Merge development to master
  App.js
  android/app/src/main/java/com/secondhand/MainApplication.java
  index.js
  package.json
  src/components/Button/index.js
  src/components/CardNotification/index.js
  src/components/Header/index.js
  src/components/Loading/index.js
  src/components/TextInput/index.js
  src/components/bottom-sheet/index.js
  src/components/index.js
  src/redux/allReducer.js
  src/redux/globalAction.js
  src/redux/globalReducer.js
  src/redux/reducer.js
  src/redux/store.js
  src/routes/BottomTab.js
  src/screens/Akun/index.js
  src/screens/DaftarJual/index.js
  src/screens/DetailProduct/index.js
  src/screens/Home/index.js
  src/screens/Jual/dropbar.js
  src/screens/Jual/index.js
  src/screens/Login/index.js
  src/screens/Login/redux/action.js
  src/screens/Login/redux/reducer.js
  src/screens/Notifikasi/index.js
  src/screens/Notifikasi/redux/action.js
  src/screens/Notifikasi/redux/reducer.js
  src/screens/Register/index.js
  src/screens/Register/redux/action.js
  src/screens/Register/redux/reducer.js
  src/screens/TerimaTolak/index.js
  src/screens/UbahAkun/index.js
  src/screens/UbahAkun/redux/action.js
  src/screens/UbahAkun/redux/reducer.js
  src/screens/index.js
  src/utils/colors/index.js
  src/utils/helpers/navigate.js
  yarn.lock
Labels: enhancement

#65 merge to master
  src/components/CardNotification/index.js
  src/routes/BottomTab.js
  src/screens/Akun/index.js
  src/screens/DaftarJual/index.js
  src/screens/DetailProduct/index.js
  src/screens/UbahAkun/index.js
Labels: enhancement
